In [23]:
import pandas as pd
import numpy as np

In [24]:
train=pd.read_excel("Data_Train.xlsx")
test=pd.read_excel("Data_Test.xlsx")

In [25]:
train.head()

                                               STORY  SECTION
0  But the most painful was the huge reversal in ...        3
1  How formidable is the opposition alliance amon...        0
2  Most Asian currencies were trading lower today...        3
3  If you want to answer any question, click on ‘...        1
4  In global markets, gold prices edged up today ...        3

In [26]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628 entries, 0 to 7627
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STORY    7628 non-null   object
 1   SECTION  7628 non-null   int64
dtypes: int64(1), object(1)
memory usage: 119.3+ KB

In [27]:
train.describe

<bound method NDFrame.describe of                                                   STORY  SECTION
0     But the most painful was the huge reversal in ...        3
1     How formidable is the opposition alliance amon...        0
2     Most Asian currencies were trading lower today...        3
3     If you want to answer any question, click on ‘...        1
4     In global markets, gold prices edged up today ...        3
...                                                 ...      ...
7623  Karnataka has been a Congress bastion, but it ...        0
7624  The film, which also features Janhvi Kapoor, w...        2
7625  The database has been created after bringing t...        1
7626  The state, which has had an uneasy relationshi...        0
7627  Virus stars Kunchacko Boban, Tovino Thomas, In...        2

[7628 rows x 2 columns]>

In [31]:
test.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [32]:
x=train["STORY"]
y=train["SECTION"]

In [33]:
from sklearn.feature_extraction.text import  CountVectorizer

In [34]:
a=CountVectorizer()

In [35]:

x=a.fit_transform(x)

In [36]:
x1=test["STORY"]
x1=a.transform(x1)

In [37]:
x

<7628x32810 sparse matrix of type '<class 'numpy.int64'>'
	with 559325 stored elements in Compressed Sparse Row format>

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
rfg=RandomForestClassifier(n_estimators=100,random_state=42)

In [42]:
rfg.fit(x,y)

RandomForestClassifier(random_state=42)

In [44]:
y=rfg.predict(x_test)

In [45]:
from sklearn.metrics import r2_score

In [46]:
r2_score(y_test,y)

0.9993378658714115

In [48]:
y_pred=rfg.predict(x1)

In [50]:
y_pred = pd.DataFrame(y_pred,columns=[   'SECTION'   ])

In [51]:
y_pred.to_csv("SUBmission.csv",index=False)

In [53]:
p=pd.read_excel("Sample_submission.xlsx")

In [54]:
p.head()

   SECTION
0        3
1        3
2        3
3        3
4        3

In [ ]:
import xgboost as xgb

In [ ]:
dmatrix=xgb.DMatrix(data=x,label=y)

In [ ]:
param={"objective":"binary:logistic","max_depth":10,"eta":0.1,"subsample":0.5,"colsample_bytree":0.7,"seed":42}

In [22]:
model=xgb.train(params=param,dmatrix=dmatrix,num_boost_round=10)

NameError: name 'xgb' is not defined